---
import Nav from './Nav.astro';
import '../../styles/hero.css'
---

<div class="hero">
  <Nav />
  <section class="hero-content">
    <h1>Proba la <span class="hero-content-text">big burguer</span></h1>
    <h2><span class="hero-content-text">que más</span> te guste!</h2>
  </section>
 
</div>
 <style>
    .hero {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url('../../assets/images/hero__image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-content {
    width: 75%;
    margin: 0 auto;
    height: calc(100vh - 82px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-shadow: 0 0.3rem 0.4rem rgb(0, 0, 0);
  }
  .hero-content h1 {
    font-weight: 300;
    font-size: 6.2rem;
    line-height: 8rem;
  }
  .hero-content h2 {
    font-weight: 300;
    font-size: 4.8rem;
    line-height: 4rem;
    text-transform: uppercase;
  }
  .hero-content-text{
    font-family: var(--primary-font-family);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--secondary-color);
  }
  
 </style>

